<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id='background'>
    <h1><%= title %></h1>
    <p>Saved posts: <%= postCount %></p>
    <p>API: <code>GET /posts</code> &mdash; <code>POST /posts</code> &mdash; <code>DELETE /posts/:id</code></p>
  </body>
</html>
